# Dependencies
node_modules/
.next/
out/
build/

# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/
env/

# Environment Variables (PENTING: Jangan push API Key!)
.env
.env.local

# OS files
.DS_Store